// rfs modules
@import '~rfs/scss';

$font-stack: 'Open Sans', sans-serif;
$primary-color: #333;
$mainOrange: #f15025;
$mainYellow: #d2aa5c;
$background-color: #fff;

:root {
  --mainOrange: #f15025;
  --mainYellow: #d2aa5c;
}
